<nav class="orien-navbar" id="orienNavbar">
    <div class="orien-nav-container">
        <a href="/" class="orien-nav-brand" data-link>
            <img src="/assets/icons/orien.png" alt="Orién Pro Logo" class="orien-logo-img">
            <span class="orien-logo-text">ORIÉN PRO</span>
        </a>
        
        <div class="orien-hamburger" id="orienHamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="orien-close" id="orienClose">✕</div>

        <ul class="orien-menu" id="orienMenu">
            <li><a href="/" data-link>Inicio</a></li>
            <li class="orien-dropdown">
                <a href="#productos" data-link>Productos ▾</a>
                <div class="orien-dropdown-content">
                    <a href="#consolas" data-link>Consolas</a>
                    <a href="#pc-gaming" data-link>PC Gaming</a>
                    <a href="#vr" data-link>Realidad Virtual</a>
                    <a href="#accesorios" data-link>Accesorios</a>
                </div>
            </li>
            <li class="orien-dropdown">
                <a href="#servicios" data-link>Servicios ▾</a>
                <div class="orien-dropdown-content">
                    <a href="#soporte" data-link>Soporte Técnico</a>
                    <a href="#instalacion" data-link>Instalación</a>
                    <a href="#garantia" data-link>Garantía</a>
                </div>
            </li>
            <li><a href="/about" data-link>Nosotros</a></li>
            <li><a href="#contacto" data-link>Contacto</a></li>
        </ul>
    </div>
</nav>